# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

public/esri-imagery/
**/.env
**/.venv
geojson-backend/### أمثلة لأسئلة يمكنك طرحها.txt
geojson-backend/explore.ipynb
in.json
out.json
Commands.md
geojson-backend/rsync-exclude.txt
3003
Test.md
User Stories.md
biome.json
Q.txt
_.ipynb
